.blog{
    background-color: bisque;
    padding: 20px;
}
h1{
    text-align: center;
    font-weight: 900px;
}
hr{
    width: 30%;
    margin: 0 auto;
    height: 10px;
    background-color: rgb(69, 29, 189);
    border-radius: 10px;
}